<a href="https://colab.research.google.com/github/MADHAV-054/Python-practice-0054/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#WAP to print prime numbers in a given range using functions,range-(25,50)
def prime(a,b):
  for x in range(a,b+1):
    k=0
    for y in range(2,x):
      if x%y==0:
        k+=1
    if k==0:
      print(x)
num1=int(input())
num2=int(input())       
prime(num1,num2)      
# 
def prime():
  num1=int(input())
  num2=int(input())
  for x in range(num1,num2+1):
    if(x>1):
      for i in range(2,x):
        if(x%i==0):
          break
      else:
        print(x)
prime()

In [32]:
#WAP to read any month in integer and display days for that month
month=[1,3,5,7,8,10,12]
a=int(input())
if a in month:
  print("31 days")
elif a==2:
  print("28 or 29 days")
elif a>12 or a<1:
  print("incorrect")  
else:
  print("30 days ")

4
30 days

In [48]:
#WAP to print even length of words in a string
a=str(input("enter a string : "))
a=a.split()
print(a)
for x in a:
  if len(x)%2==0:
    print(x,end=" ")

enter a string : i am madhav
['i', 'am', 'madhav']
am madhav

In [64]:
#WAP to capitalise the first letter and last letter of each word
#WAP to read a string from user and display first character of each word with capital
a=input("enter a string : ")
b=a.split(' ')
s=''
for i in b:
  x=i.capitalize()
  y=i[-1].capitalize()
  s=x[0:-1]+y
  print(s,end=' ')

enter a string : i am madhav
I AM MadhaV

In [58]:
#WAP to convert list of multiple integer to single integer
#[11,33,50]  113350
a=eval(input("enter list of integers: "))
b=""
for i in a:
  b=b+str(i)
print(b)

enter list of integers: 6666,5555,4444
666655554444