<a href="https://colab.research.google.com/github/MADHAV-054/Python-practice-0054/blob/main/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Sets
a={"madhav","govardhan","gopal","pavan"}
print(a)
#Duplicates Not Allowed
a={"madhav","govardhan","gopal","pavan","madhav"}
print(a)
#Get the Length of a Set
a={"madhav","govardhan","gopal","pavan"}
print(len(a))
#Set Items - Data Types
set1 ={"madhav","govardhan","gopal","pavan"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)
set1 = {"abc", 34, True, 40, "male"}
print(set1)
#type()
a={'madhav', 'gopal', 'pavan', 'govardhan'}
print(type(a))
#The set() Constructor
a=set(('madhav', 'gopal', 'pavan', 'govardhan'))
print(a)

{'madhav', 'gopal', 'pavan', 'govardhan'}
{'madhav', 'gopal', 'pavan', 'govardhan'}
4
{'madhav', 'gopal', 'pavan', 'govardhan'}
{1, 3, 5, 7, 9}
{False, True}
{True, 'abc', 34, 40, 'male'}
<class 'set'>
{'madhav', 'gopal', 'pavan', 'govardhan'}

In [ ]:
#Python - Access Set Items
a={"madhav","govardhan","gopal","pavan"}
for x in a:
  print(x)
print("madhav" in a)  
# Add Set Items
a={"madhav","govardhan","gopal","pavan"}
a.add("phani")
print(a)
#Add Sets
a={"madhav","govardhan","gopal","pavan"}
b={"phani","jashwanth","nivesh","indraneel"}
a.update(b)
print(a)
#Add Any Iterable
a={"madhav","govardhan","gopal","pavan"}
b=["phani","jashwanth","nivesh","indraneel"]
a.update(b)
print(a)

gopal
govardhan
pavan
madhav
True
{'govardhan', 'gopal', 'madhav', 'phani', 'pavan'}
{'govardhan', 'gopal', 'nivesh', 'jashwanth', 'indraneel', 'madhav', 'phani', 'pavan'}
{'govardhan', 'gopal', 'jashwanth', 'nivesh', 'indraneel', 'madhav', 'phani', 'pavan'}

In [ ]:
#Python - Remove Set Items
a={"madhav","govardhan","gopal","pavan"}
a.remove("gopal")
print(a)
a={"madhav","govardhan","gopal","pavan"}
a.discard("gopal")
print(a)
a={"madhav","govardhan","gopal","pavan"}
x=a.pop()
print(x)
print(a)
a={"madhav","gopal","govardhan","pavan"}
a.clear() 
print(a)

{'govardhan', 'pavan', 'madhav'}
{'govardhan', 'pavan', 'madhav'}
gopal
{'govardhan', 'pavan', 'madhav'}
set()

In [ ]:
#Python - Loop Sets
a={"madhav","govardhan","gopal","pavan"}
for x in a:
  print(x)

gopal
govardhan
pavan
madhav

In [ ]:
#Python - Join Sets
a={"madhav","govardhan","gopal","pavan"}
b={"phani","jashwanth","nivesh","indraneel"}
c=a.union(b)
print(c)
a={"madhav","govardhan","gopal","pavan"}
b={"phani","jashwanth","nivesh","indraneel"}
a.update(b)
print(a)
#Keep ONLY the Duplicates
a={"madhav","govardhan","gopal","pavan"}
b={"phani","jashwanth","nivesh","madhav"}
a.intersection_update(b)
print(a)
c=a.intersection(b)
print(c)
#Keep All, But NOT the Duplicates
a={"madhav","govardhan","gopal","pavan"}
b={"phani","jashwanth","nivesh","madhav"}
a.symmetric_difference_update(b)
print(a)
a={"madhav","govardhan","gopal","pavan"}
b={"phani","jashwanth","nivesh","madhav"}
c=a.symmetric_difference(b)
print(c)

{'govardhan', 'gopal', 'nivesh', 'jashwanth', 'indraneel', 'madhav', 'phani', 'pavan'}
{'govardhan', 'gopal', 'nivesh', 'jashwanth', 'indraneel', 'madhav', 'phani', 'pavan'}
{'madhav'}
{'madhav'}
{'govardhan', 'gopal', 'nivesh', 'jashwanth', 'phani', 'pavan'}
{'govardhan', 'nivesh', 'jashwanth', 'gopal', 'phani', 'pavan'}

In [5]:
#Python - Set Methods
a={"madhav","govardhan","gopal","pavan"}
x=a.copy()
print(x)
a={"madhav","govardhan","gopal","pavan"}
b={"phani","jashwanth","nivesh","madhav"}
z=a.difference(b)
print(z)
z=b.difference(a)
print(z)
a={"madhav","govardhan","gopal","pavan"}
b={"phani","jashwanth","nivesh","madhav"}
a.difference_update(b)
print(a)
a={"madhav","govardhan","gopal","pavan"}
b={"phani","jashwanth","nivesh","madhav"}
b.difference_update(a)
print(b)
a={"madhav","govardhan","gopal","pavan"}
b={"phani","jashwanth","nivesh"}
c=a.isdisjoint(b)
print(c)
a={"madhav","govardhan","gopal","pavan"}
b={"phani","jashwanth","nivesh","madhav"}
c=a.isdisjoint(b)
print(c)
a={"madhav","govardhan","gopal","pavan"}
b={"phani","jashwanth","nivesh","madhav","govardhan","gopal","pavan"}
c=a.issubset(b)
print(c)
a={"phani","jashwanth","nivesh","madhav","govardhan","gopal","pavan"}
b={"madhav","govardhan","gopal","pavan"}
c=a.issuperset(b)
print(c)
a={"phani","jashwanth","nivesh","madhav","govardhan","gopal","pavan"}
c=a.pop()
print(c)
a={"phani","jashwanth","nivesh","madhav","govardhan","gopal","pavan"}
a.remove("madhav")
print(a)
a={"phani","jashwanth","nivesh","madhav","govardhan","pavan"}
b={"madhav","govardhan","gopal","pavan"}
c=a.union(b)
print(c)
a={"phani","jashwanth","nivesh","madhav","govardhan","pavan"}
b={"madhav","govardhan","gopal","pavan"}
a.update(b)
print(a)

{'madhav', 'pavan', 'gopal', 'govardhan'}
{'pavan', 'gopal', 'govardhan'}
{'jashwanth', 'phani', 'nivesh'}
{'pavan', 'gopal', 'govardhan'}
{'jashwanth', 'phani', 'nivesh'}
True
False
True
True
pavan
{'pavan', 'nivesh', 'jashwanth', 'govardhan', 'phani', 'gopal'}
{'pavan', 'nivesh', 'jashwanth', 'madhav', 'govardhan', 'phani', 'gopal'}
{'pavan', 'nivesh', 'jashwanth', 'madhav', 'govardhan', 'phani', 'gopal'}