<a href="https://colab.research.google.com/github/MADHAV-054/Python-practice-0054/blob/module-1/Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#multine string and length of string
a="""I am Madhav,
coming from Seethammadhara by bike,
persuing my B-tech in GITAM University Visakhapatnam."""
print(a)
print(len(a))

I am Madhav,
coming from Seethammadhara by bike,
persuing my B-tech in GITAM University Visakhapatnam.
102

In [16]:
#check string
a="""I am Madhav,
coming from Seethammadhara by bike,
persuing my B-tech in GITAM University Visakhapatnam."""
print("Madhav" in a)
print("harsha" in a)

if "Madhav" in a:
  print("Yes , 'Madhav' is present")

True
False
Yes , 'Madhav' is present

In [24]:
#check if not
a="""I am Madhav,
coming from Seethammadhara by bike,
persuing my B-tech in GITAM University Visakhapatnam."""
print("harsha" not in a)
print("Madhav" not in a)

if "harsha" not in a:
  print("harsha is not present")

True
False
harsha is not present

In [85]:
#slicing
a="""I am Madhav,
yesterday i have seen rrr"""
print(len(a))
print(a[3:17],a[4:18])
print(a[:])
print(a[12:])
print(a[5:34])
print(a[-38:-1])
print(a[-38:38])
print(a[-20:-5])

38
m Madhav,
yest  Madhav,
yeste
I am Madhav,
yesterday i have seen rrr

yesterday i have seen rrr
Madhav,
yesterday i have seen
I am Madhav,
yesterday i have seen rr
I am Madhav,
yesterday i have seen rrr
rday i have see

In [60]:
#Modify a string
a=""" I am Madhav,
coming from Seethammadhara by bike,
persuing my B-tech in GITAM University Visakhapatnam. """
#upper case
print(a.upper())
#lower case
print(a.lower())
#remove whitespace from the beginning or the end
print(a.strip())
#replace string
print(a.replace("Madhav","Harsha"))
#split string
print(a.split(","))

 I AM MADHAV,
COMING FROM SEETHAMMADHARA BY BIKE,
PERSUING MY B-TECH IN GITAM UNIVERSITY VISAKHAPATNAM.
 i am madhav,
coming from seethammadhara by bike,
persuing my b-tech in gitam university visakhapatnam.
I am Madhav,
coming from Seethammadhara by bike,
persuing my B-tech in GITAM University Visakhapatnam.
 I am Harsha,
coming from Seethammadhara by bike,
persuing my B-tech in GITAM University Visakhapatnam.
[' I am Madhav', '\ncoming from Seethammadhara by bike', '\npersuing my B-tech in GITAM University Visakhapatnam. ']

In [68]:
#Concatenation of string
a="I am Madhav"
b=",friend of Vasishta "
c=a+b 
print(c)
c=b+a
print(c)
c=a+""+b
print(c)

I am Madhav,friend of Vasishta
,friend of Vasishta I am Madhav
I am Madhav,friend of Vasishta

In [90]:
#Format of string
age=18
txt="My name is Madhav , I am {}years old"
print(txt.format(age))
#
maths=91
science=80
hindi=72
english=80
social=86
txt="""I scored {}marks in maths,
{}marks in science, {}marks in hindi,
{}marks in english, {}marks in social."""
print(txt.format(maths,science,hindi,english,social))
#
maths=91
science=80
hindi=72
english=80
social=86
txt="""I scored {0}marks in maths,
{1}marks in science, {2}marks in hindi,
{3}marks in english, {4}marks in social."""
print(txt.format(maths,science,hindi,english,social))

My name is Madhav , I am 18years old
I scored 91marks in maths,
80marks in science, 72marks in hindi,
80marks in english, 86marks in social.
I scored 91marks in maths,
80marks in science, 72marks in hindi,
80marks in english, 86marks in social.

In [104]:
#Escape Characters
txt="Hello \nWorld!"
print(txt)
txt="Hello\tWorld!"
print(txt)
txt="Hello \bWorld!"
print(txt)

Hello
World!
Hello	World!
Hello World!