<a href="https://colab.research.google.com/github/MADHAV-054/Python-practice-0054/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Tuple
a=("madhav","govardhan","gopal","pavan")
print(a)
b=("madhav","govardhan","gopal","pavan","madhav")
print(b)
#Tuple Length
a=("madhav","govardhan","gopal","pavan")
print(len(a))
#Create Tuple With One Item
a=("madhav",)
print(a)
#Tuple Items - Data Types
a=("madhav","govardhan","gopal","pavan")
print(type(a))
#Tuple constructor
a=tuple(("madhav","govardhan","gopal","pavan"))
print(a)

('madhav', 'govardhan', 'gopal', 'pavan')
('madhav', 'govardhan', 'gopal', 'pavan', 'madhav')
4
('madhav',)
<class 'tuple'>
('madhav', 'govardhan', 'gopal', 'pavan')

In [ ]:
#Access Tuple items
a=("madhav","govardhan","gopal","pavan")
print(a[2])
#negative indexing
print(a[-3])
#Range of indexes
print(a[1:3])
print(a[-4:-1])
#
b=("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(b[2:])
print(b[:5])
#Check if 
b=("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
if "cherry" in b:
  print("yes")

gopal
govardhan
('govardhan', 'gopal')
('madhav', 'govardhan', 'gopal')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('apple', 'banana', 'cherry', 'orange', 'kiwi')
yes

In [3]:
#Update Tuples

#Change Tuple Values
a=("madhav","govardhan","gopal","pavan")
b=list(a)
b[2]="Rohit"
a=tuple(b)
print(a)
#Add items to tuple
a=("madhav","govardhan","gopal","pavan")
b=list(a)
b.append("vasishta")
a=tuple(b)
print(a)
#remove Tuple Values
a=("madhav","govardhan","gopal","pavan")
b=list(a)
b.remove("madhav")
a=tuple(b)
print(a)

('madhav', 'govardhan', 'Rohit', 'pavan')
('madhav', 'govardhan', 'gopal', 'pavan', 'vasishta')
('govardhan', 'gopal', 'pavan')

In [ ]:
#removing duplicate tuple values
a=("madhav","govardhan","gopal","pavan","madhav")
print(a)
print(type(a))
b=list(a)
print(b)
print(type(b))
for i in list(b):
  if i=="madhav":
    b.remove("madhav")
    c=tuple(b)
    print(c)

('madhav', 'govardhan', 'gopal', 'pavan', 'madhav')
<class 'tuple'>
['madhav', 'govardhan', 'gopal', 'pavan', 'madhav']
<class 'list'>
('govardhan', 'gopal', 'pavan', 'madhav')
('govardhan', 'gopal', 'pavan')

In [14]:
#unpack tuples
a=("madhav","govardhan","gopal","pavan","phani")
(green, yellow, *red,)=a
print(green)
print(yellow)
print(red)
#
(green, *yellow, red,)=a
print(green)
print(yellow)
print(red)

madhav
govardhan
['gopal', 'pavan', 'phani']
madhav
['govardhan', 'gopal', 'pavan']
phani

In [18]:
#Python - Loop Tuples
a=("madhav","govardhan","gopal","pavan","phani")
for x in a:
  print(x)
#Loop Through the Index Numbers
a=("madhav","govardhan","gopal","pavan","phani")
for x in range(len(a)):
  print(a[x])
#Using a While Loop
a=("madhav","govardhan","gopal","pavan","phani")
i=0
while i < len(a):
  print(a[i])
  i=i+1

madhav
govardhan
gopal
pavan
phani
madhav
govardhan
gopal
pavan
phani
madhav
govardhan
gopal
pavan
phani

In [24]:
#Python - Join Tuples
a=("madhav","govardhan","gopal","pavan","phani")
b=("jashwanth","indraneel","yaga")
c=a+b
print(c)
#Multiply Tuples
b=("jashwanth","indraneel","yaga")
s=b*2
print(s)
#Python - Tuple Methods
a=("madhav","govardhan","gopal","pavan","madhav")
b=a.count("madhav")
print(b)
a=("madhav","govardhan","gopal","pavan","madhav")
b=a.index("madhav")
print(b)

('madhav', 'govardhan', 'gopal', 'pavan', 'phani', 'jashwanth', 'indraneel', 'yaga')
('jashwanth', 'indraneel', 'yaga', 'jashwanth', 'indraneel', 'yaga')
2
0